{% extends "base.html" %}
{% block content %}
<section id="content">
    {% block content_title %}
    <h2>All Posts</h2>
    {% endblock %}
    
    {% for article in articles_page.object_list %}
    <div class="row "><article>
        <h2 class="articleIndex"><a href="{{ SITEURL}}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
        <div class="aricleSummary">
            {{ article.summary }}     
        </div>
        
    </article></div>

    <a href="{{ SITEURL}}/{{ article.url }}">more &rArr;</a>
    <hr>
    {% endfor %}
    
    
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
</section><!-- /#content -->
    

{% endblock content %}
