<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for Zack Glick">
    <meta name="author" content="Zack Glick">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>z1g1.net</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/index.html">Home</a>
          <a class="blog-nav-item" href="/about.html">About</a>
          <a class="blog-nav-item" href="/projects">Projects</a>
          <a class="blog-nav-item" href="http://z1g1.tumblr.com/">Link Blog</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ site.name }}</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          {{ content }}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>
				Born in San Francisco, grown in Buffalo, educated in Syracuse, currently living in North Virginia Working for Amazon Web Services as a Security Support Engineer. My past work experiences have been in Providence, RI working for Dell SecureWorks as a Sr. Security Operations Center analyst and for the Syracuse City School District. <a href="/about.html">...More</a>
			</p>
          </div>
          <div class="sidebar-module">
            <h4>Twitter</h4>
			<a class="twitter-timeline" href="https://twitter.com/z1g1" data-widget-id="385124181253189633">Tweets by @z1g1</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/z1g1">GitHub</a></li>
              <li><a href="https://twitter.com/z1g1">Twitter</a></li>
			  <li><a href="http://www.google.com/profiles/ZglickA">Google+</a></li>
			  <li><a href="http://www.goodreads.com/user/show/1262280-zack">Goodreads</a></li>
			  <li><a href="http://www.linkedin.com/profile/view?id=39955908&trk=tab_pro">LinkedIn</a></li>
			  <li><a href="http://www.facebook.com/ZackGlick">Facebook</a></li>
			  <li><a href="http://www.reddit.com/user/z1g1/">Reddit</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
		<div class="row">
			<div class="col-lg-9">
				<span class="text-muted" xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">z1g1.net</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="zackglick.com" property="cc:attributionName" rel="cc:attributionURL">Zachary Glick</a> is licensed under a </br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>        
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-9">
	            <p class="text-muted">Please note that the views expressed are solely those of myself and are not the views of my future, past or present employers.  
				<p class="text-muted">Views expressed in posts between May 2010 and Sept. 2012 are soley mine and not the SCSD.  This message posted in compliance with <a href="http://www.syracusecityschools.com/sites/default/files/policy_manual/1130-1-Social-Media.pdf">SCSD Board Policy 1130.1</a></p>            
				<p> <a href="#">Back to top</a> </p>
	        </div>
	    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
